{% extends "auctions/layout.html" %}

{% block body %}
    <h3>{{ listing.title }}</h3>

    <ul>
        {% if listing.image %}
            <img src="{{ listing.image.url }}" alt="{{ listing.title }} Image" style="max-width: 200px;">                                                                                                                        
        {% endif %}

        <li>Description: {{ listing.description }}</li>
        <li>Current Price: ${{ current_price }}</li>
        <li>Owner: {{ listing.owner }}</li>
        <li>Category: {{ listing.category }}</a></li>
    </ul>

    <div>
        {% if user.is_authenticated %}
            {% if listing in user.watchlist.all %}
                <a class="text-danger" href="{% url 'unwatch' listing.id %}">Unwatch</a>
            {% else %}
                <a class="text-danger" href="{% url 'watch' listing.id %}">Watch</a>
            {% endif %}
        {% endif %}
    </div>
    <section>
        <h3>Comments:</h3>
        {% if not listing.comments.all %}
            <p>No comments yet.</p>
        {% else %}
            {% for comment in listing.comments.all %}
                <hr>
                <strong>{{ comment.author }} - {{ comment.date_added}} </strong>
                <br>
                {{ comment.text }}
            {% endfor %}    
        {% endif %}

        {% if user.is_authenticated %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                {{ form.text }}
                <input class="btn btn-lg btn-outline-secondary" type="submit" value="Add">
            </form>
        {% else %}
            <p>Please log in to add a comment.</p>
        {% endif %}

        
    </section>


{% endblock %}