{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    {% for listing, current_price in listings_with_prices %}
        <h3><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h3>
        
        {% if listing.image %}
            <img src="{{ listing.image.url }}" alt="{{ listing.title }} Image" style="max-width: 150px;">                                                                                                                            
        {% endif %}

        <ul>
            <li>Description: {{ listing.description }}</li>
            <li>Current Price: ${{ current_price }}</li>
        </ul>
    {% empty %}
    <p>No listings.</p>    
    {% endfor %}
{% endblock %}